<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!--좋아요 카운트 1 - 좋아요 누른 상태-->
<!--좋아요 카운트 0 - 좋아요 취소한 상태-->

<!--프론트-->
<!--좋아요 누름-->
<!-- -> 콜백 함수로 회원 아이디랑 보드 아이디를 서버로 보냄-->

<!--서버-->
<!--서버에서는 회원인지 확인 - 회원 아니면 오류 발생-->
<!--회원이면 좋아요 카운트 확인 - 현재 1이면 누른 좋아요를 취소하는것 - 취소 로직 발생-->
<!--회원이면 좋아요 카운트 확인 - 현재 0이면 누른 좋아요를 누른 것 - 좋아요 누른 로직 발생-->

<!--프론트-->
<!-- -> 좋아요 취소인지 누른건지에 맞게 하트 변경(어떻게??)-->
<!--좋아요 카운트가 1이면 좋아요 누른거, 0이면 안누른거임-->

