<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 mx-5 border-bottom" th:fragment="body_header">
    <a href="#" th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="home fs-4">6단어 소설가</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" th:href="@{/member/new}" class="nav-link">회원가입</a></li>
        <li class="nav-item"><a href="#" th:href="@{/member/login}" class="nav-link">로그인</a></li>
        <li class="nav-item"><a href="#" th:href="@{/board/new}" class="nav-link">글쓰기</a></li>
    </ul>
</header>