<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head th:replace="fragments/header :: header(~{::title},~{::link},~{::script})">
    <title>6단어 소설가</title>
    <link href="/RESOURCES/static/css/mypage.css" th:href="@{/css/mypage.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <script src="https://kit.fontawesome.com/843c438b04.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        var iconId;

        $('i').click(function() {
          var likeClass = $(this).attr( 'class' );
          var boardId = $(this).attr( 'name' );
          iconId = $(this).attr( 'id' ); // 클릭한 아이콘 아이디 값 저장

          if (likeClass == 'fa-solid fa-heart') {  // 하트가 눌러져 있다면 -> 취소로직
            var likeCheck = 1;
            $(this).attr('class', 'fa-regular fa-heart');
          } else if (likeClass == 'fa-regular fa-heart') { // 하트가 안눌러져 있다면 -> 누르는 로직
            var likeCheck = 0;
            $(this).attr('class', 'fa-solid fa-heart');

          }

          $.ajax({
            url: "/like",
            data: {
              likeCheck : likeCheck,
              boardId : boardId,
            },
            type: "POST",

            success: function(updateLikeCnt) {
              $('#'+ iconId ).text(updateLikeCnt);
            },
            error:function(request,status,error){
              alert("페이지를 새로고침해서 다시 좋아요를 눌러주세요");
            }

          });
        })
      });
    </script>
  </head>
  <body>
   <!-- 헤더 -->
   <header class="d-flex flex-wrap justify-content-center py-3 mb-4 mx-5 border-bottom">
     <a href="#" th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
       <span class="home fs-4">6단어 소설가</span>
     </a>

     <ul class="nav nav-pills">
       <li class="nav-item"><a href="#" th:href="@{/member/logout}" class="nav-link">로그아웃</a></li>
       <li class="nav-item"><a href="#" th:href="@{/board/new}" class="nav-link">글쓰기</a></li>
       <li class="nav-item"><a href="#" th:href="@{/member/{id} (id=${memberId})}" class="nav-link">마이페이지</a></li>
     </ul>
   </header>
    <div class="container">
      <div class="container">
        <!-- 탭 -->
        <ul class="nav nav-tabs mt-5 mb-4" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link fw-bold active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">내가 쓴 글</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link fw-bold" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">좋아요 누른 글</button>
          </li>
        </ul>
        <!-- 탭 내용 -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"> <!-- 좋아요순 -->
            <div class="row row-cols1 row-cols-lg-3 align-items-stretch g-4 py-5">
              <div class="col" th:each="writeBoard : ${writeBoards}">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <a th:href="@{/board(boardId=${writeBoard.id})}" style="text-decoration-line: none;">
                     <h2 class="content mt-5 mb-5 display-6 fw-bold" th:text="${writeBoard.content}" >For sale: tow shose, never used.</h2>
                    </a>
                     <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <small th:text="${writeBoard.member.name}" >By. Unknown</small>
                      </li>
                      <div>
                        <li class="d-flex align-items-center mx-2" th:with="key=${writeBoard.id}">
                          <i th:id="'iconOrderedByL_' + ${writeBoard.id}"
                             th:class="${myLikeBoardId.get(key) == 1} ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"
                             th:name="${writeBoard.id}"
                             th:text="${writeBoard.likeCount}"
                             style="color: red;">10</i>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> <!-- 최신순 -->
            <div class="row row-cols1 row-cols-lg-3 align-items-stretch g-4 py-5">
              <div class="col" th:each="likeBoard : ${likeBoards}">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                  <a th:href="@{/board(boardId=${likeBoard.id})}" style="text-decoration-line: none;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                      <a th:href="@{/board(boardId=${likeBoard.id})}" style="text-decoration-line: none;">
                       <h2 class="content mt-5 mb-5 display-6 fw-bold" th:text="${likeBoard.content}" >For sale: tow shose, never used.</h2>
                      </a>
                       <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <small th:text="${likeBoard.member.name}" >By. Unknown</small>
                        </li>
                        <div>
                          <li class="d-flex align-items-center mx-2">
                            <i class="fa-solid fa-heart"
                               th:id="'iconOrderedByD_' + ${likeBoard.id}"
                               th:name="${likeBoard.id}"
                               th:text="${likeBoard.likeCount}"
                               style="color: red;">10</i>
                          </li>
                        </div>
                      </ul>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div th:replace="fragments/login_footer :: login_footer"></div>
      </div>
    </div>
  </body>
</html>